<!DOCTYPE html>
<html>
<head>
  <title>Bloggity</title>
  <%= stylesheet_link_tag    "bloggity/application", :media => "all" %>
  <%= javascript_include_tag "bloggity/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
